.active {
	border-left: 5px solid $yellow--dark;
	background: rgba($yellow--lighter, 0.50);
	color: $yellow--dark;
}
.dashboard {
	display: flex;
	height: 100vh;
	font-family: $font-stack;

	&__cards {
		background: $easy-blue;
		display: grid;
		padding: $medium-gutter;
		box-sizing: border-box;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: $medium-gutter;
		flex: 2;

		&--card {
			height: 100%;
			box-sizing: border-box;
			background: white;
			padding: $small-gutter;
		}
		&--heading {
			font-size: 1.5em;
		}
	}

	&__main {
		display:flex;
		flex-direction: column;
		width: 100%;
		max-height: 100%;
	}
	&__top {
		display: flex;
		height: 120px;
		&--right {
			display: flex;
			flex-wrap: wrap;
			width: 85%;
			&--text {
				flex: 0 0 50% ;
				box-sizing: border-box;
				display: block;
				padding: $small-gutter;
				font-size: 1.25em;
			}
		}
		&--label {
			display: inline-block;
			box-sizing: border-box;
			width: 15%;
			height: 50%;
			color: white;
			padding: $small-gutter;
			background: $purple--dark;
			font-size: 1.25em;
		}
	}
}

.left-bar {
	width: 200px;
	list-style: none;
	background: white;
	display: flex;
	flex-direction: column;	
	align-items: center;

	&__item {
		font-size: 1em;
		font-family: $font-stack;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		padding: $medium-gutter;
		font-weight: 600;
		// color: $pure-black;

		&:hover {
			cursor: pointer;
		}
	}
}


